<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.3/cerulean/bootstrap.min.css">
    <title>Weather App</title>
</head>
<body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container">
            <a href="../" class="navbar-brand">Weather App</a>
            <a href="https://openweathermap.org" class="navbar-tech">OpenWeather - Get Your API</a>
        </div>
    </div>

    <br /><br /> <br>
    <div id="jumbotron" class="jumbotron" style="text-align: center; margin-top:-50px">
        <h1 class="display-5">My Weather App </h1>
        <h5>5 days forecast</h5>       
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <form method="post" class="col-md">
            {% csrf_token %}
            <div class=" input-group">
                <input type="text" class="form-control" name="city" placeholder="Choose Your City ...">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
            <form>
    </nav>
    <br> <br>
    <div class="row">
        {% for forecast in forecast_list %}
        <div class="col d-flex justify-content-center">
            <div class="card text-white bg-light mb-6">
                <div class="card-body">
                    <h4><span class="badge badge-primary">Date: </span>{{ forecast.date }}</h4>
                    <h4><span class="badge badge-primary">Max Temperature: </span>{{ forecast.max_temp }}°C</h4>
                    <h4><span class="badge badge-primary">Min Temperature: </span>{{ forecast.min_temp }}°C</h4>
                    <h4><span class="badge badge-primary">Precipitation: </span>{{ forecast.precipitation }} mm</h4>
                    <h4><span class="badge badge-primary">Weather Description: </span>{{ forecast.weather_description }}</h4>
                    <h4><span class="badge badge-primary">Pressure: </span>{{ forecast.pressure }} hPa</h4>
                    <h4><span class="badge badge-primary">Humidity: </span>{{ forecast.humidity }}%</h4>
                    <h4><span class="badge badge-primary">Wind Speed: </span>{{ forecast.wind_speed }} m/s</h4>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
